
<!-- Primary Page Layout
================================================== -->
<div class="top">
    <a href="#home"><img id="rotate" src="/images/top.png" width="70" height="70" alt="top" /></a>
</div>

<header style="background:#52ddee">
<div class="container nav" style="position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;" id="home">
      <div class="three columns logo center">
      <img src="/images/biz_logo.png" width="30px" alt"">
      </div>
      <div class="thirteen columns navigation" style="margin-left:230px;">
        <nav>
          <div class='rmm' data-menu-style = "minimal" style="float: right; padding-top:20px;">
            <ul>
                <li><a href='#home'>홈</a></li>
                <li><a href='#team'>스터디자료</a></li>
                <li><a href='#service'>헬퍼</a></li>
                <li><a href='#contact'>로그인</a></li> 
            </ul>
          </div>
        </nav>
      </div>
     </div>
</div>
</header>

<div class="slider" id="home" style="background:#52ddee">

   <div class="container">
<! SLIDESHOW >
    <div class="flexslider">
      <ul class="slides">
          <li>
            <div class="sixteen columns slide1">
              <p class="center"><img class="scale-with-grid" src="/images/63H.jpg" height="500px" width="500px" alt="logo big"></p>
              <h1 class="white">OWL FLAT ONE PAGE PORTFOLIO</h1>
              <h3 class="white"><span>RESPONSIVE WEBSITE TEMPLATE</span></h3>
             </div>
          </li>
         <li>
            <div class="sixteen columns slide2">
              <p class="center"><img class="scale-with-grid" src="/images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white">OPTIMIZED FOR MOBIL DEVICES</h3>
            </div>
            </li>
          <li>
            <div class="sixteen columns slide3">
              <p class="center"><img class="scale-with-grid" src="/images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white">YOU CAN ADD IMAGES AND TEXT TO SLIDER</h3>
            </div>
            </li>
            <li>
            <div class="sixteen columns slide4">
              <p class="center"><img class="scale-with-grid" src="/images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>MODERN FLAT ICONS</span></h3>
             </div>
            </li>
            <li>
            <div class="sixteen columns slide5">
              <p class="center"><img class="scale-with-grid" src="/images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>RESPONSIVE PRICE TABLES</span></h3>
             </div>
            </li>
            <li>
            <div class="sixteen columns slide6">
              <p class="center"><img class="scale-with-grid" src="/images/flexslider/image1.png" alt="logo big"></p>
              <h3 class="white"><span>SKILL BARS</span></h3>
             </div>
            </li> 
       </ul>
     </div>
   </div>
</div>


<div class="service" id="service">
    <div class="container">
    
        <div class="sixteen columns">
        
         <h2 class="white">Our Service</h2>
         <hr class="white">
         <p class="white center">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
         
         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="/images/jeonpil.png">
         <h4 class="white">Responsive Design</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
         
         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="/images/jeonsun.png">
         <h4 class="white">Easy Customizable</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
         
         <div class="four columns alpha">
         <img class="center circle scale-with-grid" id="rotate" src="/images/injung.png">
         <h4 class="white">Porfolio</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
         
         <div class="four columns alpha omega">
         <img class="center circle scale-with-grid" id="rotate" src="/images/gyopil.png">
         <h4 class="white">PHP Mail Form</h4>
         <p class="center white">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
         </br>
         <p class="center"><a href="http://www.fabianbentz.de/demo/owl/owl-theme.zip" target="_blank"  class="btndow">Download Theme</a></p>
         </div>
        
        </div>
        
    </div>
</div>

<script type="text/javascript">
  $(window).load(function() {
     $('.flexslider').flexslider({
        animation: "slide"
      });
});
</script>



	<script type="text/javascript" charset="utf-8">
		$(document).ready(function(){
			$("a[rel^='prettyPhoto']").prettyPhoto({
				social_tools: false,
				theme: 'light_square'
			});
		});
	</script>