가능한 요일과 시간을 선택하세요! 

<form action="/bizrice/sending_result?lecture_id=<%=@lecture_id%>" method="POST">
<h3>다음!</h3>    <br>
    <input type="checkbox" name="monday" value="HTML">월요일 점심
    <input type="checkbox" name="monday_night" value="HTML">월요일 저녁
<br>
    <input type="checkbox" name="thesday" value="HTML">화요일 점심
    <input type="checkbox" name="thesday_night" value="HTML">화요일 저녁
<br>
    <input type="checkbox" name="wednesday" value="HTML">수요일 점심
    <input type="checkbox" name="wednesday_night" value="HTML">수요일 저녁
<br>    
    <input type="checkbox" name="thursday" value="HTML">목요일 점심
    <input type="checkbox" name="thursday_night" value="HTML">목요일 저녁
<br>    
    <input type="checkbox" name="friday" value="HTML">금요일 점심
    <input type="checkbox" name="friday_night" value="HTML">금요일 저녁
<br>    
    <input type="checkbox" name="saturday" value="HTML">토요일 점심
    <input type="checkbox" name="saturday_night" value="HTML">토요일 저녁
<br>    
    <input type="checkbox" name="sunday" value="HTML">일요일 점심
    <input type="checkbox" name="sunday_night" value="HTML">일요일 저녁
<br>
<br>
<input type="submit" value="제출">
</form>