<form action="/bizrice/write_save/<%=@lecture.id%>" method="POST">
    교수님: <input type="text" name="professor">
    제목: <input type="text" name="title">
    이름: <input type="text" name="nickname">
    휴대폰번호: <input type="text" name="phone_number">
    
    <input type="submit" value="제출">
</form>